.allblock{
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}
.block {
  float: left;
  width: 320px;
  margin: 0;
  min-height: 200px;
  padding-bottom: 10px;
}





.block-image{
  width: 300px;
  height: 200px;
  margin: 10px 10px 0px 10px;
  background-color: #222;
  img{
    width: 100%;
    height: 100%;
  }
  img:hover{
    opacity: 0.3;
    filter: alpha(opacity=30);
  }
}



.block-description {
  width: 300px;
  margin: 2px 10px 0 10px;

  .video-title,
  .video-author,
  .video-date {
    display: block;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video-title {
    font-size: 13px;

    a {
      color: #2ba6cb;
      font-size: 14px;
    }
  }

  .video-author {
    line-height: 13px;
    font-size: 11px;

    a {

    }
  }

  .video-date {
    line-height: 13px;
    font-size: 11px;
  }
}

.block-hover {
  width: 300px;
  height: 200px;
  margin: 10px 10px 0px 10px;
  min-height: 110px;
  position: absolute;

  .block-hover-play{
    background: url(http://www.epictv.com/sites/all/themes/epictv_bootstrap/images/london/play-icon-sm.png) 0 0 no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    background-size: auto 30px;
    background-posotion-x: 0px;
  }
}

.block-hover:hover{
  background:rgba(120, 117, 117, 0.5);

  .block-hover-play{
    background-position-x: -30px;
  }
}