.rangeslider {

  margin: 20px 0;
  position: relative;
  background: #ccc;

  &.rangeslider-vertical {
    margin: 20px auto;
    height: 150px;
    max-width: 4px;

    .rangeslider__fill {
      position: absolute;
      width: 100%;
      background: #000;
      box-shadow: none;
      bottom: 0;
    }

    .rangeslider__pointer {
      background: #fff;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      left: -3px;

      &:active {
        box-shadow: none;
        background: #000;
      }
    }
  }
}