
.rangeProgressBar {
  height: 4px;
  margin: 0 20px;
  position: relative;
  background: #ccc;
  width: 500px;

  &.rangeprogressBar-horizontal {
    margin: auto 20px;
    max-height: 4px;

    .rangeprogressBar__fill {
      height: 4px;
      position: absolute;
      width: 100%;
      background: #000;
      box-shadow: none;
    }

    .rangeprogressBar__pointer {
      background: #fff;
      bottom: -4px;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 5px;

      &:active {
        box-shadow: none;
        background: #000;
      }
    }
  }
}