$line-height: 48px;
$nav-padding: 4px;

.header {
  background-color: #353535;
}

nav {
  height: $line-height;
  padding-top: $nav-padding;
  padding-bottom: $nav-padding;

  >ul.nav-links {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
    vertical-align: top;

    >li.nav-link {
      margin: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      line-height: $line-height - 2 * $nav-padding;

      a.header-logo-link {
        height: 100%;

        >img {
          height: inherit;
          vertical-align: top;
        }
      }

      a.highlightable, a.highlightable:visited {
        color: #b3b3b3;
        font-family: EnigmaBold, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 0 5px;

        &:hover,
        &.active {

          &.active-red {
             color: red;
          }

          &.active-blue {
            color: #4d6aff;
          }

          &.active-lightblue {
            color: #2bcbff;
          }

          &.active-green {
            color: #00ec00;
          }

        }
      }
    }
  }
}

.navigation,
.auth {
  display: inline-block;
  width: initial;
}

.auth {
  margin-top: 9px;

  > button {
    margin-bottom: 0;
    border-radius: 0;
    width: 55px;
    height: 30px;
    padding: 0;
  }

  #login-btn {
    background-color: #47c450;
  }

  #signup-btn {
    margin-left: 10px;
    background-color: #ff5050;
  }

  #upload-btn {
    margin-right: 25px;
    width: 70px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 0;
    height: 30px;
    line-height: 0;
    border-radius: 0;
  }
}