@font-face {
  font-family: Enigma;
  src: url(/static/fonts/Enigma__2.ttf);
}

@font-face {
  font-family: EnigmaBold;
  src: url(/static/fonts/EnigmaB_2.ttf);
}

body {
  font-family: Enigma, sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}

button:focus {outline:0;}

.videos-container{
  background-color: #fff;
  border-top-color: rgba(0,0,0,0.15);
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  .videos-container-header {
    padding-top: 6px;
    padding-left: 20px;

    .header-title {
      font-size: 30px;
      margin-right: 6px;
    }

    .header-description {
      font-size: 15px;
    }
  }
}