.upload-form{
  height: 500px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  .upload-button
  {
    margin-top: 10px;
    left: 50%;
    width: 50%;
    position: relative;
    margin-left: -25%;
  }
  .upload-button-image{
    position: relative;
    left: 50%;
    margin-left: -64px;
    height: 85px;
    width: 128px;
    background: url(/static/images/upload.png) 0 0 no-repeat;
  }
  .upload-button-image:hover {

    background: url(/static/images/upload_hover.png) 0 0 no-repeat;
  }

}

.upload-file-list {
  list-style-type: none;
  li{
    display: inline-block;
  }
}