
.WatchPage-content{
  background-color: #000;

  .placeholder-player{
    line-height: 0;

    video{
      width: 854px;
      height: 480px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  }

.watch-header {

  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

  .watch-headline-title{
    margin: 10px;

    h1{
      margin: 0;
      font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif;
      font-size: 32px;
    }
  }
  .watch-user-headline{
    margin: 10px;
    padding-bottom: 5px;
    span{
      margin: 5px 0 5px 0;
    }
  }
}